
*, *::after, *::before {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

  
  :root {
    --text1: hsl(150 100% 8%);
    --text2: hsl(150 10% 60%);
    --bkg1: hsl(190 70% 94.5%);
    --bkg2: hsl(190 70% 99.5%);
    --accent1: hsl(150 100% 50% / .6);
    --accent2: hsl(190 100% 60% / .6);
    --gradient: linear-gradient(to right, var(--accent1), var(--accent2));
  }

  /* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
    GENERAL / STRUCTURE
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
 body {
  background-color:#d4e0ec;
  color: black;
  margin-top: 5em;
}

a {
  text-decoration: none;
  display: block;
  gap: 1rem;
 }

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
  TYPOGRAPHY / IMAGES / BUTTONS
  headline font - font-family: 'Gruppo', sans-serif;
  body copy font - font-family: 'Montserrat', sans-serif;
  red - #c4312a
  dark-red - #70424c
  blue - #849bb2
  gray-blue - #852614

* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
h1,
h2,
h3,
h4{
  font-family: 'Gruppo', sans-serif;

}
p,
li,
td,
figcaption,
address {
  font-family: 'Montserrat', sans-serif;
}
img {
  width: 100%;
  display: block;
}
button {
  background-color: #485261;
  border: none;
  color: white;
  padding: .5em 1.5em .5em 1.5em;
}
button:hover {
  color:black;
  border: 1px solid black;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 HEADER
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
header{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 1em ;
  background-color: white;
  color:#70424c;
  font-size: 10px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
  NAVIGATION
  menu items - #f7efdf
  meny items hover - white
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
nav {
  /* fixed position - black bkg color */
  /* border: black 2px solid; */
  width:100%;
  position: fixed;
  background-color: #485261;
  top: 0;
  left: 0;
  z-index: 15;
  padding: 10px;
  display:flex;
  justify-content: space-between;
}
nav ul {
  margin: 0;
  padding: 1rem 3rem 1rem 1rem ; 
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: flex-end;
}
nav li {
  list-style-type: none;
  color:#f7efdf;
  font-size: 12px;
}
nav li:hover {
  color:#ba6644;
}
.nav-logo {
  width: 175px;
}



/* Dropdown Button */
.dropbtn {
  background-color: white;
  color:#70424c;
  padding: 10px 20px 10px 20px;
  font-size: 10px;
  font-weight: bolder;
  
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);   
  z-index: 1;
  padding:5px 12px 5px 12px;
  color:#70424c;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color:#849bb2;
}




/* Services: List */
.art-service {
    background-color:#849bb2;
    padding: 2em 2em 2em 2em;
    margin: 1em 0 1em 0;
}

.services{
    display:flex;
    margin: 0 1em 0 1rem;
    padding: 1em 3em 1em 3em;
    gap: 5;
}
.services-1{
    line-height: 1.5em;
}
.services-2{
    line-height: 1.5em;
}



  /* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
    FOOTER
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
footer{
  background-color: #485261;
  color: white;
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  align-items: center;
}

/* icons - if you don't use SVG, then adjust the CSS selectors for your code */
.social{
  display: flex;
}
footer svg {
  padding: 0.25em;
  color:white;
}
footer svg:hover {
  color:#c4312a;
}

.name{
  border-right: white solid 1px;
  padding-right: 3em;
}
.address{
  border-right: white solid 1px;
  padding-right: 3em;
}

/*
  MEDIA QUERIES
*/
/* mobile devices (mobile, 480px and up) */
@media (min-width: 480px) {
  .call-out .btn {
      font-size: 12px;
  }
  header{
      font-size: 12px;
  }
  .dropbtn {
      padding: 10px 20px 10px 20px;
      font-size: 12px;
    }

  .experience {
      display: flex;
      flex-wrap: wrap;
      flex-flow: row;
  }
  .experience-text {
      padding: 2em;
  }
  .about {
      display: flex;
      flex-wrap: wrap;
      flex-flow: row;
  }
  .about-image {
      max-width:50%;
      object-fit: fill;
  }
  .about-text {
      padding: 2em;
  }
  aside svg:first-child {
      display: block;
  }
  aside svg:last-child {
      display: block;
  }



}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .call-out .btn {
      font-size: 15px;
  }
  header{
      font-size: 15px;
  }
  .dropbtn {
      font-size: 15px;
    }
  .experience {
      display: flex;
      flex-wrap: wrap;
      flex-flow: row;
  }
  .experience-text {
      padding: 2em;
  }
  .about {
      display: flex;
      flex-wrap: wrap;
      flex-flow: row;
  }
  .about-image {
      object-fit: fill;
  }
  .about-text {
      padding: 3em;
  }
  /* aside svg:first-child {
      display: block;
  }
  aside svg:last-child {
      display: block;
  } */

  

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  nav li {
      list-style-type: none;
      color:#f7efdf;
      font-size: 20px;
  }
  .call-out .btn {
      font-size: 25px;
  }
  header{
      font-size: 15px;
  }
  .dropbtn {
      font-size: 15px;
  }
  .experience {
      display: flex;
      flex-wrap: wrap;
      flex-flow: row;
  }
  .experience-text {
      max-width: 50%;
      font-size: 25px;
      padding: 2em;
  }
  .about {
      display: flex;
      flex-wrap: wrap;
      flex-flow: row;
  }
  .about-image {
      object-fit: fill;
  }
  .about-text {
      padding: 3em;
      font-size: 25px;
  }
  /* aside svg:first-child {
      display: block;
  }
  aside svg:last-child {
      display: block;
  } */

}

